.beeComponent { 
    background-color: lightblue;
    width: 100%;
    height: 175px;
    margin: 5px 0px 0px 0px;

}

.mainComponent_content{
    background-color: beige;
    /* position: absolute; */
    left: 0px;
    top: var(--navbar-height);
    width: 100%;
    /* height: auto; */
    display: flex;
    flex-direction: row;
    
}