.mainComponent{
    position: absolute;
    width: 100vw;
    height: 100vh;
    /*overflow: hidden;*/
}

.mainComponent_content{ 
    background-color: khaki;
    position: absolute;
    left: 0px;
    top: var(--navbar-height);
    width: 100%;
    height: inherit;

}